# ignoring all files
*

# deleted from ignore files that have the extension
!*.*

# deleted all directories from ignore
!*/

# deleted a Makefile from ignore
!Makefile

# added static libraries in ignore
*.a

# added object files in ignore
*.o

# added files of the original dependency in ignore
*.d
